* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
}

img {
  vertical-align: middle;
}
/*Estilos del NAV*/
a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.alignCenter{
  text-align: center;
}
header{
  position: fixed;
}
nav{
  background-color: white;
}
nav > a{
  font-weight: 700;
}

#logo{
  width: 8%;
}

/*Estilos de la portada de INICIO*/

#inicio{
  clear: both;
  background-image: url(../assets/img/bg-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
#inicio > div > div > input{
  background-color: #2ECC71;
  border: none;
  padding: 5%;
  color: white;
  margin: 20%;
  margin-bottom: 10%;
}
#inicio > div:first-child{
  padding: 50px;
  font-size: 20px;
}
#inicio > div:nth-child(2) {
  font-size: 40px;
  margin: none;
}
#inicio > div > div > input:hover{
  color: #E95853;
}

/*seccion SERVICE*/
.service{
  background-color: #E95853;
  color:white;
}

.imagenesService{
  width: 100%;
  margin-top: 25%;
}

.textitos{
  margin-top: 5%;
  padding: 10%;
  list-style: none;
  font-size:12px;
  font-weight: bold;
}

li{
  padding: 3%;
}
/*Estilos CATÁLOGO*/
#catalogo{
  margin-top: 8%;
}

#fondoModal{
  display: none;
  padding: 5%;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5%;
  background-color: rgba(15, 227, 154, 0.7);
  z-index: 1;
}

.cerrar{
  position: absolute;
  top: 10%;
  left: 73%;
  color: #33c493;
  font-size: 40px;
  font-weight: bold;
  z-index: 2;
  cursor: pointer;
}

.imgModal{
  width: 50%;
  margin-left: 30%;
  padding: 2%;
  border: 10px solid #EEEEEE;
  border-radius: 3%;
}

.img:hover{
  opacity: 0.7;
  cursor: pointer;
}

.img{
  border-radius: 5%;
}
/*Estilo footer*/
#piecito {
  padding: 1%;
  background-color: #E95853;
}
